{% extends 'base.html' %} {% block encabezado %}

{% endblock %} {% block contenido %}

<div class="container-fluid">
  <div class="container mx-auto">

    <h1 class="text-center border p-5">Atención al cliente</h1>
  </div>

  <div class="container">
    <h3 class='text-justify p-2'>
      En FootBoot nos preocupamos por la satisfacción del nuestro cliente, ya que para nosotros son lo más importante, por este motivo, ponemos a su disposción varias formas de contactar con nostros por si a surgido algún problema, el cual estaremos encantados de solucionar lo antes posible.</br>
    </br>
      Puede contactarnos mediante:
      <ul>
        <li>
         Correo electrónico: </br>
          · atencionalcliente@footboot.es
        </li>
        <li>
           Teléfono: </br>
          · 924 890 111
        </li>
      </ul> 

    </h3>
    


    
  </div>
  
  
</div>

{% endblock %}