{% extends 'base.html' %} {% block encabezado %}
<h1>Política de devoluciones</h1>
{% endblock %} {% block contenido %}

<div class="container-fluid">
  <div class="container mx-auto">

    <h1 class="text-center border p-5">DEVOLUCIONES</h1>
  </div>

  <div class="container">
    <h3 class='text-justify p-2'>
      Los artículos comprados en FootBoot deben ser devueltos a cargo del cliente, con un importe de 5,90€ en la Península Ibérica y 13,90€ en el resto de Europa. Dicho importe se restará al total pagado una vez se realice el reembolso, por la misma plataforma de pago.
    </h3>
    <h3 class='text-justify p-2'>

      Los artículos debe estar en perfecto estado y sin haber sido utilizados, estando libres de deterioro, manchas, olores o cualquier condición que impida que se vendan como nuevos. Los artículos también deberán devolverse dentro de los 15 días siguientes a la recepción del envío, para poder así recibir un reembolso.

    </h3>
    <h3 class='text-justify p-2'>

      Para realizar la devolución parcial o total de un pedido, los artículos que el cliente desee devolver deben ser enviados a través de Correos. Se debe presentar la etiqueta en la oficina, que genera el portal más abajo indicado, una vez se rellenan los datos.

    </h3>
    <h3 class='text-justify p-2'>

      El reembolso será efectuado en el método de pago empleado para realizar la compra en un periodo máximo de 7 días laborables desde que el artículo llega a nuestro almacén. Cualquier artículo(s) adquirido en rebajas, el total de la devolución será el mismo que el de la compra, teniendo en cuenta que se restará el importe del envío.

    </h3>

    <h3 class='text-justify p-2'>

      Es importante tener en cuenta que no aceptaremos devoluciones de zapatillas de FootBoot que no hayan sido compradas a través de la página web oficial

    </h3>

    
  </div>
  
  
</div>

{% endblock %}