{% extends 'base.html' %} {% block encabezado %}
<h1>Política de devoluciones</h1>
{% endblock %} {% block contenido %}

<div class="container-fluid">
  <div class="container mx-auto">

    <h1 class="text-center border p-5">DEVOLUCIONES</h1>
  </div>

  <div class="container">
    <h3 class='text-justify p-2'>
      En FootBoot no se contempla la posiblidad de devolver ningún producto de nuestra web, por este motivo recomendamos a nuestros clientes asegurarse de que la talla que selecciona es la adecuada.
    </h3>
    

    
  </div>
  
  
</div>

{% endblock %}