{% extends 'base.html' %} {% block encabezado %}
{% endblock %} {% block contenido %}

<div class="container-fluid">
  <div class="container mx-auto">

    <h1 class="text-center border p-5">Datos de empresa</h1>
  </div>

  <div class="container">
    <ul>
      <li>
        <p>RAZÓN SOCIAL: FootBoot SL</p>
      </li>
      <li>
        <p>NIF: B37730532</p>
      </li>
      <li>
        <p>FORMA JURÍDICA: Sociedad Limitada</p>
      </li>
      <li>
        <p>ACTIVIDAD CNA: COMERCIO AL POR MENOR DE ZAPATILLAS DE FÚTBOL</p>
      </li>

    </ul>
  </div>
  
  
</div>

{% endblock %}