{% extends 'base.html' %}

{% csrf_token %}

{% block encabezado %} {% endblock %}
{% block contenido %}


<div class="container-fluid" style="font-size: 1.5rem;">
    <div class="row text-center mt-5">
        <div class="col-md text-center"><input type="text" placeholder="Nombre"></div>
        <div class="col-md text-center"><input type="text" placeholder="Apellidos"></div>
        <div class="col-md text-center"><input type="tel" placeholder="Teléfono"></div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-md-4">
            <input type="email" placeholder="Correo eletrónico">

        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <input type="text" placeholder="Dirección">
            </div>
        </div>
    </div>
    <div class="row mt-5"><strong>Métodos de pago</strong></div>

    <div class="row ">
        <input type="radio" id="contrareembolso" name="pago" value="contrareembolso"  />
        <label for="pago">Contrareembolso</label>
        <input type="radio" id="paas" name="pago" value="paas"  />
        <label for="pago">PaaS</label>
    </div>

    <div class="row d-grid gap-2 col-6 mx-auto"><button style="font-size: 2rem;" class="btn btn-dark btn-sm" type="submit">Finalizar</button></div>

</div>

{% endblock %}