{% extends 'base.html' %} {% block encabezado %}

{% csrf_token %}


{% endblock %} {% block contenido %}



<form action=""   method="post" name="compra">
  <div class="container-fluid">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-8 mt-5" >
      <img src="{{botas.imagen.url}}" alt="altura" width="50%" />
    </div>
    
    <div class="col-md-4 mt-5" style="font-size: 20px;" >
      <div class="row mt-5">
        <strong
          ><input
            style="font-size: 3rem; border: 0; border-style: none"
            type="text"
            value="{{botas.nombre}}"
            readonly="True"
        /></strong>
      </div>  
      <div class="row mt-5" >
        <label class="required" for="id_descripcion"
          >Descripción:
          <textarea  readonly="True">{{botas.descripcion}}</textarea></label>
      </div>
      <div class="row  mt-5">
        <div class="col-md">Suela: {{botas.suela}}</div>
        <div class="col-md">
          <label class="required" for="id_gama">Gama:</label>
          <select name="gama" id="id_gama">
            <option value="A">Alta</option>

            <option value="M" selected="">Media</option>

            <option value="B">Baja</option>
          </select>
        </div>
      </div>
      <div class="row  mt-5">
        <div class="col-md">Marca: {{botas.marca}}</div>
        <div class="col-md">
          <label class="required" for="id_talla">Talla:</label>
          <select name="talla" id="id_talla">
            <option value="T38">38</option>

            <option value="T39">39</option>

            <option value="T40">40</option>

            <option value="T41">41</option>

            <option value="T42" selected="">42</option>

            <option value="T43">43</option>

            <option value="T44">44</option>

            <option value="T45">45</option>

            <option value="T46">46</option>
          </select>
        </div>
      </div>

      <div class="row mt-5 ">
        <div class="col-md">Precio: {{botas.precio}} €</div>
        <div class="col-md"><label class="required" for="id_cantidad">Cantidad:</label>
          <select name="cantidad" id="id_cantidad">
            <option value="1" selected="">1</option>

            <option value="2">2</option>

            <option value="3">3</option>

            <option value="4">4</option>

            <option value="5" >5</option>

            <option value="6">6</option>

            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>

         
          </select>
          
        </div>
        <div class="col-md">
          <button class="btn btn-info" type="submit">Añadir a la cesta</button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}
