{% extends 'base.html' %}

{% csrf_token %}

{% block encabezado %}  {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        Añadir una bota
    </div>
    <div class="card-body">
        <h4 class="card-title"> Datos de bota</h4>
    </div>
    <form enctype="multipart/form-data" method="post">
        {% for campo in formulario %}
            <div class="mb-3">
                <label for="" class="form-label"> {{campo.label}}</label>
    
                <input 
                type="{{ campo.field.widget.input_type }}"
                class="form-control" 
                name="campo.name" 
                id="" 
                aria-describedby="helpId" 
                placeholder="{{campo.label}}">
    
            </div>
            <div class="col-12 help-text"> {{campo.errors}} </div>
        {% endfor %}
        
        <input name="" id="" class="btn btn-success" type="submit" value="Enviar Informacion">
    
    </form>
    <div class="card-footer text-muted">

    </div>
</div>

{% endblock %}